<body>

    <h1>Trip Details</h1>

        <strong>{{ task.title }}</strong><br>
        {% if task.date %}
            Date: {{ task.date }}<br>
        {% endif %}
        {% if task.start_time %}
            Start Time: {{ task.start_time }}<br>
        {% endif %}
        {% if task.end_time %}
            End Time: {{ task.end_time }}<br>
        {% endif %}

    <a href="{% url 'task_list' %}">Back to Task List</a>

    <h1>Enter More Details</h1>

    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="activity" placeholder="Activity Name" required>
        <input type="date" name="date" placeholder="Enter date" required>
        <input type="time" name="start_time" placeholder="Time to start" required>
        <input type="time" name="end_time" placeholder="End Time">
        <button type="submit">Add Activity</button>
    
        <h2>Activities</h2>
        <ul>
            {% for activity in activities %}
                <li>
                    {{ forloop.counter }}. <input type="checkbox" name="activity_completed" value="{{ activity.id }}"
                        {% if activity.completed %} checked {% endif %}>
                    {{ activity.activity }}<br>
                    Date: {{ activity.date }}<br>
                    Start Time: {{ activity.start_time }}<br>
                    End Time: {{ activity.end_time }}<br>
                </li>
            {% endfor %}
        </ul>
    </form>
    

</body>