<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center h-screen bg-gray-100">

    <div class="background relative mb-8">
        <div class="shape w-12 h-12 bg-blue-500 inline-block transform rotate-45"></div>
        <div class="shape w-12 h-12 bg-blue-500 inline-block transform -rotate-45"></div>
    </div>

    <form class="bg-white p-4 rounded-lg shadow-md text-center w-72" method="post">
        <h3 class="mb-4 text-lg font-semibold text-gray-700">Login Here</h3>
        {% csrf_token %}
        <input type="text" placeholder="Enter Username" id="username" name="username"
            class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-blue-500">

        <input type="password" placeholder="Password" id="password" name="password"
            class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-blue-500">

        <button type="submit"
            class="w-full px-6 py-2 rounded-full bg-green-500 text-white hover:bg-green-600 transition">Log In</button>

        <a href="{% url 'signup' %}" class="mt-4 text-blue-500">Create an account</a>
    </form>
</body>

</html>
