<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <!-- Include flatpickr CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgk4FwQ_wU1idbLyAESzmPfiOjrqhWAI4&libraries=places">
    </script>

    <script>
        function initAutocomplete() {
            var input = document.getElementById('autocomplete');
            var options = {
                types: ['geocode'],
                componentRestrictions: { country: 'US' }
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        google.maps.event.addDomListener(window, 'load', initAutocomplete);


        document.addEventListener("DOMContentLoaded", function () {
            const startDateInput = document.getElementById("date-range");

            flatpickr(startDateInput, {
                mode: "range",
                dateFormat: "Y-m-d",
            });
        });
    </script>
    
</head>

<body class="w-100 h-100 bg-white-200 flex items-center justify-center lg:w-1/2 md:w-3/4 sm:w-full">
    <div class="w-3/4 h-3/4 bg-white p-4 rounded-lg flex flex-col items-center">
            <!--Title for the page-->
            <div class="mt-4 mb-6">
                <strong class="text-xl font-bold">Plan a new trip</strong><br>
            </div>

            <!-- Illustration and text-->
            <div class="flex items-stretch w-100">
                <div class="rounded-full bg-black w-20 h-20"></div>
                <div class="text-xs">Lorem ipsum dolor sasdaas!</div>
            </div>

            <!-- Form for adding new tasks -->
            <div class="space-y-2 mt-6 mb-6">
                <form method="post" action="{% url 'create_task' %}">
                    {% csrf_token %}
                    <div class="mb-2">
                        <input type="text" name="title" placeholder="Trip Name" required
                            class="w-60 h-8 border border-grey rounded p-1">
                    </div>
                    <div class="mb-2">
                        <input type="text" name="title" id="autocomplete" placeholder="Where to?" required
                            class="w-60 h-8 border border-grey rounded p-1">
                    </div>
                    <div class="mb-2">
                        <input type="text" id="date-range" placeholder="Start date and end date" class="w-60 h-8 border border-grey rounded p-1">
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="w-60 h-8 bg-green-200 border border-white rounded-full p-1"> Start
                            planning </button>
                    </div>
                </form>
            </div>

            <!-- Display the list of tasks -->
            <ul>
                {% for task in tasks %}
                <li class="mt-5 mb-5">
                    <div p class="text underline">
                        </p>
                        <a href="{% url 'task_detail' task.id %}"><strong>{{ task.title }}</strong></a><br>
                    </div>
                    {% if task.date %}
                    Date: {{ task.date }}<br>
                    {% endif %}
                    <form method="post" action="{% url 'delete_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-red-500 underline">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>


            {% comment %} Button Next Page {% endcomment %}
            <div p class="text-blue-500 underline">
                </p>
                <a href="{% url 'hello_world' %}" class="btn btn-primary"> Next Page</a>
            </div>
        </div>
    </div>

    <script>
        function initAutocomplete() {
            var input = document.getElementById('autocomplete');
            var options = {
                types: ['geocode'],
                componentRestrictions: { country: 'US' }
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        google.maps.event.addDomListener(window, 'load', initAutocomplete);


        document.addEventListener("DOMContentLoaded", function () {
            const startDateInput = document.getElementById("date-range");

            flatpickr(startDateInput, {
                mode: "range",
                dateFormat: "Y-m-d",
            });
        });
    </script>
</body>